// @import 'core/reset';

.card {
    width: 150px;
    margin: 10px;
    border: 1px solid blue;
    text-align: center;
}

.containerCountries {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

