@import 'core/reset';

.imageCard {
    width: 150px;
    margin: 10px;
}

.imageCard img {
    width: 100%;
}

// .bigImage {
//     position: absolute;
//     top:0;
//     left:0;
// }